.edit-account-container {
    form#user-update-profile {
        .form-row {
            > label {
                width: 180px;
                text-align: left;
                padding-right: 15px;
            }
            .custom-input {
                width: calc(100% - 180px) !important;
            }
        }
        @include breakpoint($xs) {
            .form-row {
                > label {
                    padding-bottom: 5px;
                    padding-top: 5px;
                    padding-right: 0;
                    width: 100%;
                }
                .custom-input {
                    width: 100% !important;
                }
            }
        }
    }
}