.manage-privacy-container {
    .delete-local-storage-border-bottom {
        border-bottom: 3px solid black;
    }
    .delete, .download {
        figure {
            width: 100px;
        }
        .text {
            width: calc(100% - 400px);
            padding-left: 20px;
        }
        .btn-container {
            width: 300px;
            padding-left: 80px;
            input[type="submit"], a {
                width: 100%;
                text-align: center;
            }
        }
        &.delete {
            border-bottom: 3px solid black;
        }
        @include breakpoint($xs) {
            text-align: center;
            figure {
                margin: 0 auto;
            }
            .text {
                width: 100%;
                padding-left: 0;
                padding-top: 20px;
                text-align: left;
            }
            &.download, &.delete {
                .btn-container {
                    width: 200px;
                    padding-left: 0;
                    a, input[type='submit'] {
                        font-size: 20px;
                        padding: 10px 0;
                        text-align: center;
                        width: 100%;
                        max-width: 300px;
                    }
                }
            }
        }
    }
}