<div class="container padding-top-200">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="fs-30 calibri-bold text-center title-label padding-top-40 padding-bottom-30">Dentaprime Hub admin panel</h1>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <form [formGroup]="dentistsLoginForm" (ngSubmit)="onDentistsFormSubmit()">
                <div>
                    <div class="custom-google-label-style module" data-input-colorful-border="true">
                        <label for="dentist-login-email" class="platform-color">Email address:</label>
                        <input maxlength="100" type="text" id="dentist-login-email" formControlName="email" class="full-rounded form-field platform-border-color"/>
                    </div>
                    <div *ngIf="dentistsFormSubmitted && dentists_form_data.email.errors">
                        <div class="error-handle" *ngIf="dentists_form_data.email.errors.required">Email is required.</div>
                        <div class="error-handle" *ngIf="dentists_form_data.email.errors.email">Please enter valid email.</div>
                    </div>
                </div>
                <div class="padding-top-10">
                    <div class="custom-google-label-style module" data-input-colorful-border="true">
                        <label for="dentist-login-password" class="platform-color">Password:</label>
                        <input type="password" maxlength="50" id="dentist-login-password" formControlName="password" class="full-rounded form-field platform-border-color"/>
                    </div>
                    <div *ngIf="dentistsFormSubmitted && dentists_form_data.password.errors">
                        <div class="error-handle" *ngIf="dentists_form_data.password.errors.required">Password is required.</div>
                    </div>
                </div>
                <div class="padding-top-30 padding-bottom-10 text-center">
                    <button class="module platform-custom-button platform-background-color platform-border-color hover">LOGIN</button>
                </div>
                <div class="padding-top-20 padding-bottom-10 text-center fs-16 calibri-light">
                    <div>{{'having-trouble-login' | translate}}</div>
                    <a href="https://account.dentacoin.com/forgotten-password" target="_blank" itemprop="url" class="text-decoration-underline padding-left-5 padding-right-5 lato-bold platform-color">{{'forgotten-password-redirect' | translate}}</a>
                </div>
                <div class="error-handle margin-bottom-20" *ngIf="authenticationServiceService.generalError">{{'general-error' | translate}}</div>
                <div class="error-handle margin-bottom-20" *ngIf="authenticationServiceService.notAPartner">{{'not-a-partner-error' | translate}}</div>
                <div class="error-handle margin-bottom-20" *ngIf="authenticationServiceService.dentistAuthFailed">{{'dentist-auth-failed' | translate}}</div>
            </form>
        </div>
    </div>
</div>