<div class="invite-patients-form color-black admin-container">
    <div class="title-and-subtitle">
        <figure itemscope="" itemtype="http://schema.org/ImageObject" class="max-width-40 inline-block">
            <img alt="Patients icon" class="width-100" src="assets/images/black-patients-icon.svg"/>
        </figure>
        <span class="inline-block fs-36 padding-left-10 lato-bold">{{'my-patients-page-title' | translate}}</span>
        <div class="fs-18 padding-bottom-20">{{'my-patients-page-subtitle' | translate}}</div>
    </div>
    <div class="module people-invitation fs-0">
        <div class="inputs">
            <div class="inputs-row padding-bottom-10">
                <div class="remove-row inline-block">
                    <a href="javascript:void(0);" class="lato-regular fs-20">X</a>
                </div>
                <div class="inputs-wrapper inline-block">
                    <div class="input-field inline-block-top">
                        <div class="custom-google-label-style module" data-input-colorful-border="true">
                            <label for="request-account-name-0" class="platform-color">{{'invite-patients-form-name' | translate}}</label>
                            <input maxlength="100" type="text" id="request-account-name-0" class="full-rounded form-field platform-border-color person-name"/>
                        </div>
                    </div>
                    <div class="input-field inline-block-top">
                        <div class="custom-google-label-style module" data-input-colorful-border="true">
                            <label for="request-account-email-0" class="platform-color">{{'invite-patients-form-email' | translate}}</label>
                            <input maxlength="100" type="text" id="request-account-email-0" class="full-rounded form-field platform-border-color person-email"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-top-15 fs-0 buttons">
            <div class="inline-block add-btn-container">
                <a href="javascript:void(0)" class="lato-bold fs-16 add-invitation-rows module platform-color">{{'invite-patients-form-add-another-patient' | translate}}</a>
            </div>
            <div class="inline-block send-btn-container text-right">
                <a href="javascript:void(0)" class="fs-16 platform-custom-button submit-form-invite-people module platform-custom-button platform-background-color platform-border-color hover">{{'invite-patients-form-send-invite' | translate}}</a>
            </div>
        </div>
    </div>
</div>
<div class="fs-16 custom-data-table padding-top-70 admin-container" *ngIf="showInvitationHistory">
    <div class="table-wrapper">
        <table class="table table-without-reorder">
            <thead>
            <tr>
                <th>{{'invited-patients-history-date' | translate}}</th>
                <th>{{'invited-patients-history-name' | translate}}</th>
                <th style="width: 200px;">{{'invited-patients-history-email' | translate}}</th>
                <th>{{'invited-patients-history-status' | translate}}</th>
            </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let invite of invites; index as i;">
                    <tr>
                        <td>{{invite.created_at}}</td>
                        <td class="lato-bold">{{invite.invited_name}}</td>
                        <td><a href="mailto:{{invite.invited_email}}" class="email">{{invite.invited_email}}</a></td>
                        <td *ngIf="invite.invited_id != null" class="lato-bold platform-color">{{'invited-patients-history-accepted' | translate}}</td>
                        <td *ngIf="invite.invited_id == null">{{'invited-patients-history-invited' | translate}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>