<div class="color-black admin-container">
    <div class="title-and-subtitle">
        <figure itemscope="" itemtype="http://schema.org/ImageObject" class="max-width-40 max-width-xs-30 inline-block">
            <img alt="Patients icon" class="width-100" src="assets/images/black-push-notifications-icon.svg"/>
        </figure>
        <span class="inline-block fs-36 fs-xs-26 padding-left-10 lato-bold">{{'push-notification-page-title' | translate}}</span>
        <div class="fs-18 fs-xs-16 padding-bottom-20">{{'push-notification-page-subtitle' | translate}}</div>
    </div>
    <div class="push-notifications-custom-form">
        <div class="padding-bottom-15">
            <div class="custom-google-label-style module" data-input-colorful-border="true">
                <label for="title" class="platform-color">{{'push-notifications-title' | translate}}</label>
                <input type="text" maxlength="255" id="title" class="full-rounded form-field platform-border-color"/>
            </div>
        </div>
        <div class="padding-bottom-15">
            <textarea placeholder="{{'push-notifications-message' | translate}}..." rows="3" maxlength="255" id="message" class="full-rounded form-field platform-border-color"></textarea>
        </div>
        <div class="datetimepicker-and-buttons fs-0">
            <div class="daterangepicker-parent inline-block-top padding-bottom-xs-15">
                <div class="max-width-180">
                    <div class="custom-google-label-style module hide field" data-input-colorful-border="true">
                        <label for="title" class="platform-color active-label">{{'push-notifications-date' | translate}}</label>
                        <input type="text" maxlength="255" id="datetimepicker" class="full-rounded form-field platform-border-color datetimepicker colorful-border"/>
                    </div>
                </div>
                <div class="fs-14 padding-top-10 selected-time-text hide">{{'push-notifications-date-description' | translate}}</div>
            </div>
            <div class="buttons inline-block-top text-right">
                <button type="button" class="schedule-button module lato-bold platform-custom-button-opposite-colors platform-color platform-border-color hover margin-right-10 padding-left-10 padding-right-20 no-hover"><span class="platform-border-color inline-block custom-dot margin-right-10"><span class="inner-dot"></span></span> <span class="inline-block">{{'push-notifications-schedule' | translate}}</span></button>
                <button type="button" class="module lato-bold platform-custom-button platform-background-color platform-border-color hover padding-left-20 padding-right-20 send-now" [attr.data-send-now]="'push-notifications-send-now' | translate" [attr.data-save-now]="'push-notifications-send-now' | translate">{{'push-notifications-save-now' | translate}}</button>
            </div>
        </div>
        <div class="custom-response hide" [attr.data-push-notifications-sent-success]="'push-notifications-sent-successfully' | translate" [attr.data-push-notifications-register-success]="'push-notifications-register-successfully' | translate" [attr.data-push-notifications-failed]="'general-error' | translate"></div>
    </div>
</div>
<div class="fs-18 custom-data-table padding-top-70 padding-top-xs-30 admin-container" *ngIf="showPushNotificationsHistory">
    <div class="table-wrapper">
        <table class="table table-without-reorder">
            <thead>
                <tr>
                    <th>{{'push-notifications-date' | translate}}</th>
                    <th>{{'push-notifications-title' | translate}}</th>
                    <th>{{'push-notifications-message' | translate}}</th>
                </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let push_notification of push_notifications; index as i;">
                <tr>
                    <td>{{push_notification.date}}</td>
                    <td class="lato-bold">{{push_notification.title}}</td>
                    <td>{{push_notification.message}}</td>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>