.module {
    &.platform-custom-button {
        background-color: $basic_color;
        color: white;
        font-size: 16px;
        padding: 6px 30px;
        border: 1.5px solid $basic_color;
        text-decoration: none !important;
        display: inline-block;
        @include rounded(4px);
        @include simple_transition(.3s);
        &:hover {
            color: $basic_color;
            background-color: white;
            text-decoration: none !important;
        }
    }
    &.platform-custom-button-no-hover {
        background-color: $basic_color;
        color: white;
        font-size: 16px;
        padding: 6px 30px;
        border: 1.5px solid $basic_color;
        text-decoration: none !important;
        display: inline-block;
        @include rounded(4px);
    }
    &.platform-custom-button-opposite-colors {
        background-color: white;
        color: $basic_color;
        font-size: 16px;
        padding: 6px 30px;
        border: 1.5px solid $basic_color;
        text-decoration: none !important;
        display: inline-block;
        @include rounded(4px);
        @include simple_transition(.3s);
        &:hover {
            color: white;
            background-color: $basic_color;
            text-decoration: none !important;
        }
        &.no-hover {
            &:hover {
                background-color: white;
                color: $basic_color;
            }
        }
    }
    &.custom-google-label-style {
        position: relative;
        label {
            position: absolute;
            font-size: 16px !important;
            cursor: pointer;
            margin: 0;
            width: calc(100% - 20px) !important;
            padding-bottom: 5px !important;
            padding-top: 5px !important;
            background-color: white;
            left: 10px;
            color: #888888;
            font-weight: normal;
            top: 50%;
            font-family: 'Calibri-Regular';
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            @include rounded(4px);
            @include simple_transition(.3s);
            &.active-label {
                width: auto !important;
                font-size: 14px !important;
                top: -8px;
                padding: 0 5px !important;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                color: $basic_color;
                font-weight: bold;
            }
        }
        .left-side {
            width: calc(100% - 100px);
            position: relative;
            &.error-field {
                input, label {
                    color: red;
                }
            }
        }
        input {
            border: 1.5px solid #dddddd;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
            padding: 10px 15px;
            @include rounded(4px 0 0 4px);
            &.full-rounded {
                @include rounded(4px);
            }
            &.colorful-border {
                border: 1.5px solid $basic_color;
            }
        }
        span {
            width: 100px;
            text-align: center;
            padding-top: 12px;
            font-size: 18px;
            color: black;
            background-color: #dddddd;
            @include rounded(0 4px 4px 0);
        }
    }
    &.copy-link {
        display: flex;
        position: relative;
        .next-to-copy-btn {
            width: calc(100% - 110px);
        }
        .input-field {
            @include rounded(8px 0 0 8px);
        }
        .copy-btn {
            width: 110px;
            height: 50px;
            line-height: 50px;
            color: white;
            text-align: center;
            @include rounded(0 8px 8px 0);
        }
    }
    &.scrollable-table {
        .table-wrapper {
            .withdraw-table {
                display: table;
                width: 100%;
                td, th {
                    border-bottom: 1px solid black;
                    text-align: left;
                    padding: 8px;
                }
            }
            @include breakpoint($xs) {
                overflow-y: auto;
                .withdraw-table {
                    width: 800px;
                }
            }
        }
        .mobile-slide {
            display: none;
            padding-top: 10px;
            img {
                max-width: none;
            }
            @include breakpoint($sm-down) {
                display: block;
            }
        }
        ::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        ::-webkit-scrollbar:vertical {
            width: 12px;
        }
        ::-webkit-scrollbar:horizontal {
            height: 12px;
        }
        ::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .5);
            border-radius: 10px;
            border: 2px solid white;
        }
        ::-webkit-scrollbar-track {
            background-color: white;
            @include rounded(10px);
        }
    }
    &.search-result {
        display: none;
        background-color: white;
        position: absolute;
        width: 100%;
        z-index: 1000;
        @include rounded(4px);
        @include box-shadow(0 1px 5px 1px rgba(0, 0, 0, 0.25));
        .search-body {
            max-height: 250px;
            min-height: 120px;
            overflow-y: auto;
            ul {
                width: 100%;
                li {
                    a {
                        padding: 5px 15px;
                        cursor: pointer;
                        @include simple_transition(.3s);
                        &:hover {
                            color: white;
                        }
                    }
                    &.removeable-element {
                        a {
                            width: calc(100% - 40px);
                            font-size: 16px;
                            @include breakpoint($xs) {
                                word-wrap: break-word;
                            }
                        }
                        button {
                            width: 40px;
                            border: 0;
                            padding: 0;
                            background: transparent;
                            font-size: 26px;
                        }
                    }
                }
            }
        }
        .search-footer {
            margin-top: 10px;
            border-top: 1.5px solid #dddddd;
            a {
                display: block;
                padding: 10px 15px;
            }
        }
    }
    &.custom-checkbox-style {
        font-size: 0;
        position: relative;
        input[type="checkbox"] {
            display: none !important;
        }
        .custom-checkbox {
            width: 20px;
            height: 20px;
            border: 1px solid #bdc3c7;
            display: inline-block;
            vertical-align: middle;
            background-color: white;
            color: $basic_color;
            font-size: 16px;
            text-align: center;
            line-height: 20px;
            -webkit-border-radius: 20%;
            -moz-border-radius: 20%;
            -ms-border-radius: 20%;
            border-radius: 20%;
            font-weight: bold;
        }
        label {
            cursor: pointer;
        }
        .custom-checkbox-label {
            font-size: 16px;
            padding-left: 10px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            font-weight: normal;
            margin: 0;
            a {
                text-decoration: underline;
            }
        }
        &.white-colorful-style {
            .custom-checkbox {
                border: 1px solid $light_blue;
                color: white;
                background-color: $light_blue;
            }
        }
    }
    &.lang-switcher {
        padding: 5px 10px;
        margin-left: 15px;
        border-left: 1px solid black;
        select {
            background: transparent;
            border: 0;
            font-size: 18px;
        }
        @include breakpoint($xs) {
            border: 0;
        }
    }
}

.fix-selects-for-ios {
    background-image: url(../images/select-arrow.svg) !important;
    background-position: top 50% right 10px !important;
    background-size: 15px !important;
    background-repeat: no-repeat !important;
    -webkit-appearance: initial !important;
    padding-right: 30px !important;
}