.invite-patients-form {
    .people-invitation {
        .inputs {
            .inputs-row {
                .inputs-wrapper {
                    width: 100%;
                    @include simple_transition(.3s);
                    .input-field {
                        width: 48%;
                        margin-right: 2%;
                        &:nth-child(2) {
                            margin-right: 0;
                            margin-left: 2%;
                        }
                    }
                }
                .remove-row {
                    width: 0;
                    visibility: hidden;
                    @include simple_transition(.3s);
                    a {
                        color: #aaaaaa;
                    }
                }
                &.more-than-one-row {
                    .inputs-wrapper {
                        width: calc(100% - 30px);
                    }
                    .remove-row {
                        width: 30px;
                        visibility: visible;
                    }
                    @include breakpoint($xs) {
                        .inputs-wrapper {
                            width: calc(100% - 20px);
                        }
                        .remove-row {
                            width: 20px;
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .buttons {
            .send-btn-container, .add-btn-container {
                width: 50%;
                a {
                    text-align: center;
                }
            }
        }
        .mobile-send-emails {
            display: none;
        }
        @include breakpoint($xs) {
            .inputs {
                width: 100%;
            }
            .buttons {
                .send-btn-container, .add-btn-container {
                    width: 100%;
                }
                .send-btn-container {
                    padding-top: 20px;
                    text-align: center !important;
                }
            }
            .mobile-send-emails {
                display: block;
            }
        }
    }
}