<div class="container homepage-container">
    <div class="row">
        <div class="{{pageColumnClass}}">
            <h1 class="platform-text-color fs-30 fs-xs-22 calibri-bold text-center title-label padding-top-45 padding-top-xs-10 padding-bottom-50 padding-bottom-xs-25" *ngIf="(translate.currentLang == 'en')" [innerHTML]="hubTitleEn"></h1>
            <h1 class="platform-text-color fs-30 fs-xs-22 calibri-bold text-center title-label padding-top-45 padding-top-xs-10 padding-bottom-50 padding-bottom-xs-25" *ngIf="(translate.currentLang == 'de')" [innerHTML]="hubTitleDe">}</h1>
            <div class="row fs-0 apps-list">
                <ng-container *ngFor="let application of applications; index as i;">
                    <div class="{{applicationsColumnClass}} text-center padding-bottom-20 padding-left-20 padding-right-20 padding-left-xs-10 padding-right-xs-10 inline-block-top single-app" [attr.data-id]="application.id" *ngIf="(translate.currentLang == 'en' && (application.name_en != '' || application.description_en != ''))">
                        <a href="{{application.url}}" [attr.data-phone]="application.type == 'phone' ? 'true' : null" [attr.target]="application.type == 'phone' ? '_self' : '_blank'" class="platform-text-color in-app-browser-link">
                            <figure itemscope="" itemtype="http://schema.org/ImageObject" *ngIf="(application.resource_type == 'image')">
                                <img alt="" class="width-100 app-media" itemprop="contentUrl" src="{{application.media}}"/>
                            </figure>
                            <div *ngIf="(application.resource_type == 'svg')" class="svg-parent" [attr.data-svg]="application.media"></div>
                            <h2 class="platform-text-color fs-17 fs-xs-16 padding-top-10 calibri-bold app-name">{{application.name_en}}</h2>
                            <p class="platform-text-color fs-15 fs-xs-14 line-height-16 app-description">{{application.description_en}}</p>
                        </a>
                    </div>
                    <div class="{{applicationsColumnClass}} text-center padding-bottom-20 padding-left-20 padding-right-20 padding-left-xs-10 padding-right-xs-10 inline-block-top single-app" [attr.data-id]="application.id" *ngIf="(translate.currentLang == 'de' && (application.name_de != '' || application.description_de != ''))">
                        <a href="{{application.url}}" [attr.data-phone]="application.type == 'phone' ? 'true' : null" [attr.target]="application.type == 'phone' ? '_self' : '_blank'" class="platform-text-color in-app-browser-link">
                            <figure itemscope="" itemtype="http://schema.org/ImageObject" *ngIf="(application.resource_type == 'image')">
                                <img alt="" class="width-100 app-media" itemprop="contentUrl" src="{{application.media}}"/>
                            </figure>
                            <div *ngIf="(application.resource_type == 'svg')" class="svg-parent" [attr.data-svg]="application.media"></div>
                            <h2 class="platform-text-color fs-17 fs-xs-16 padding-top-10 calibri-bold app-name">{{application.name_de}}</h2>
                            <p class="platform-text-color fs-15 fs-xs-14 line-height-16 app-description">{{application.description_de}}</p>
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>