$xxs: ( max: 450px );
$xs: ( max: 767px );
$sm: ( min: 768px);
$md: ( min: 992px);
$lg: ( min: 1200px );
$lgl: ( min: 1400px );
$sm-only: ( min: map-get($sm, min), max: map-get($md, min) - 1 );
$sm-only-landscape-only: ( min: map-get($sm, min), max: map-get($md, min) - 1, orientation: "landscape");
$md-only: ( min: map-get($md, min), max: map-get($lg, min) - 1 );
$md-down: ( max: map-get($lg, min) - 1 );
$sm-down: ( max: map-get($md, min) - 1 );
$sm-up: ( min: map-get($md, min) - 1 );
$lg-up: ( min: map-get($lgl, min) - 1 );

@mixin breakpoint($map) {
  $query: "";
  @if map-has-key($map, min) { $query: append($query, "(min-width: #{map-get($map, min)})") }
  @if map-has-key($map, min) and map-has-key($map, max) { $query: append($query, "and") }
  @if map-has-key($map, max) { $query: append($query, "(max-width: #{map-get($map, max)})") }
  @if map-has-key($map, orientation) { $query: append($query, "and") }
  @if map-has-key($map, max) and map-has-key($map, orientation) { $query: append($query, "(orientation: #{map-get($map, orientation)})") }
  @media screen and #{$query} { @content; }
}


@include breakpoint($xxs) {
  .col-xxs-12 {
    width: 100%;
  }
  .col-xxs-6 {
    width: 50%;
  }
  .col-xxs-4 {
    width: 33.33%;
  }
  .col-xxs-3 {
    width: 25%;
  }
  .col-xxs-2 {
    width: 16.67%;
  }
}